

header{
    background-color:#ed9b18;
    text-align:center ;
    border-radius: 50px;
    font-family:Arial, Helvetica, sans-serif;
    width: 500px;
    margin: auto;
    border-top: 100px;
}

ul {
    text-align: left;
}


    body {
        font-family:Arial, Helvetica, sans-serif;
        background-image: url('https://img.freepik.com/vetores-gratis/desenho-de-volta-ao-fundo-da-escola_23-2149464866.jpg');
    background-size: cover;
    background-position: center;
    }

    video{
        border:5px solid rgba( 11, 10, 10, 0.5 );
    }

.caixa {
    background: rgba( 115, 115, 115, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn {
    padding: 10px 8px;
    width: 50px;
    color: #fff;
    background-color: #ed9b18;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin-left: 1250px;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: black;
    transition: background 1s;
}

footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px 0;
        bottom: 0;
        width: 100%;
        border-top: 5px solid #FF9800;
}