header{
    text-align: center;
    background-color: #ffffff;

}
*{
    margin: 0;
    padding: 0;
   
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}



.container-cima {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #FF9800;
    line-height: 24px;

  
}

.container-fluid {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #FF9800;

  
}
.container-fluid * {

    display: block;
    unicode-bidi: isolate;
}
.cabeçalho-link{
    justify-content: space-evenly;
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
    
}

.cabeçalho-link a{
    color: #383137;
    font-size: 20px;
}

.cabeçalho-link a:hover{
    color:  #000000;
    transition: 0.10s all;
}
.cabeçalho-link{
      
     padding: 17px 80px ;
     border-radius: 50px;
     border: 0;
     background-color: #ed9b18;
     box-shadow: #000000 0 0 8px;
     letter-spacing: 1.5px;
     width: 1300px;
     margin: 28px;
     margin-top: 5px;
     transition: transform 0.3s, box-shadow 0.3s;
     box-shadow: 0 0 20px rgb(255, 255, 255);
     cursor: pointer;
     


}
  .card-matricula{

    font-size: 20px;
   

  }

  


  .card-matricula .texto-destaque{
   
        /* Font & Text */
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        text-indent: 0px;
        text-transform: none;
        white-space: normal;
        word-spacing: 0px;
    
        /* Color & Background */
        background-attachment: scroll;
        background-color: #FF9800(255, 255, 255);
        background-image: url("c:/Users/Pc Gaming/Downloads/background-comunicado.png");
        background-size: cover;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        color: #FF9800(255, 255, 255);
    
        /* Box */
        height: 500px;
        width: 635px;
        border: 0.8px solid #090909(255, 255, 255, 0.18);
        border-top: 0.8px solid #000000(255, 255, 255, 0.18);
        border-right: 0.8px solid #000000(255, 255, 255, 0.18);
        border-bottom: 0.8px solid #ffffff(255, 255, 255, 0.18);
        border-left: 0.8px solid rgb(0, 0, 0);
        margin: 20px;
        padding: 80px;
        max-height: none;
        min-height: auto;
        max-width: 100%;
        min-width: auto;
    
        /* Positioning */
        
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        float: none;
        display: block;
        clear: none;
        z-index: auto;
        margin-top: 40px;
    
        /* List */
        list-style-image: none;
        list-style-type: disc;
        list-style-position: outside;
    
        /* Table */
        border-collapse: separate;
        border-spacing: 0px 0px;
        caption-side: top;
        empty-cells: show;
        table-layout: auto;
    
        /* Miscellaneous */
        overflow: visible;
        cursor: auto;
        visibility: visible;
    
        /* Effects */
        transform: none;
        transition: all 0s ease 0s;
        box-sizing: border-box;
        resize: none;
        text-shadow: none;
        text-overflow: clip;
        word-wrap: normal;
        box-shadow: rgb(250, 169, 20) 0px 8px 32px 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    
  
 }

     .col-lg-5 {
       
            /* Font & Text */
            
            font-size: 16px;
            font-weight: 400;
            letter-spacing: normal;
            line-height: 30px;
            text-decoration: none solid rgb(241, 241, 242);
            text-align: center;
            text-indent: 0px;
            text-transform: none;
            
            
           
            /* Color & Background */
            background-attachment: scroll;
            background-color: #ff8500(252, 186, 3);
            background-image: none;
            background-position: 0% 0%;
            background-repeat: repeat;
            color: rgb(255, 255, 255);
        
            /* Box */
            height: 572.8px;
            width: 400px;
            margin: 150px;
           
        
            /* Positioning */
           
            top: 0px;
            bottom: 0px;
            left: 0px;
            float: right;
            display: block;
            clear: none;
            z-index: auto;
            position: end;
            
        
           
        
            
        
            /* Effects */
            transform: none;
            transition: all 0s ease 0s;
            outline-offset: 0px;
            box-sizing: border-box;
            resize: none;
            text-shadow: none;
            text-overflow: clip;
            word-wrap: normal;
            box-shadow: rgb(250, 169, 20) 0px 8px 32px 5px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            margin-top: -515px;
            height: 478px;
            width: 400px;
            
        
}

.retangulo {

    width: 400px; /* Adjust width as needed */
    height: 477px; /* Adjust height as needed */
    margin-top: -10px;
    border-radius: 15px;
    background: rgba( 255, 132, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    background-image: url("c:/Users/Pc Gaming/Pictures/background-comunicado.png");
  }
  .mb-4 {

    
    font-size: 20px;

  }
  body{

    font-family: Arial, Helvetica, sans-serif;

  }
  .tamanho-personalizado {
    width: 300px;
    height: 200px;
}


.foto{

    border-top: #ff8500;

    
}
.imagem-customizada {
    
    margin-top: 10px;
    margin-left: -400px;
    width: 300px;
    height: 200px;
    border: 2px solid #3c3c3b;
    
}
.caixa-texto {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    color: #333;
    margin-top: -180px;
    margin-right: 550px;
}

.caixa-texto h2 {
    margin-top: 0;
}

.caixa-texto p {
    line-height: 1.6;
}
new SKDCarousel{
     selector:'demo1';
     width:200;
     height:200;
     auto:true};